$appColor: #0082C7;
$grayColor: #413F42;
$opacityLineColor: #cccccc59;
$textColor: #413f42db;
$backgroupAppColor: #F7F7F7;

$blockShahow: -3px -3px 7px #e4e3e3, 3px 3px 7px #a8aeb4;

$appPadding: 40px;
$maxWidth: 1200px;