@import '../utils/variables.scss';

.page-search {
  min-width: 200px;
  border: 1px solid #cccccc69;
  border-radius: 10px;
  margin: 0 auto;
  max-width: 350px;
  min-height: 40px;
  overflow: hidden;
  padding: 0 4px;

  display: flex;
  gap: 5px;

  input {
    width: calc(100% - 35px);
    border: none;
    padding-left: 35px;
    background-image: url('../../../images/particals/search/search.svg');
    background-repeat: no-repeat;
    background-size: 19px;
    background-position: left;
    font-family: 'Regular';
    background-position-x: 6px;
    font-size: 0.9em;

    &::placeholder {
      color: #666666d6;
    }
  }

  .clear {
    align-self: center;
    min-width: 8px;
    margin-right: 8px;
    
    span {
      display: none;
      cursor: pointer;
      user-select: none;

      &.active {
        display: block;
      }
    }
  }

  button {
    width: 70px;
    user-select: none;
    cursor: pointer;
    border: none;
    background: none;
    font-size: 1em;
    font-family: 'Bold';
    color: #413f42b5;
    transition: 0.4s;

    &:hover {
      color: $appColor;
    }
  }
}