@import '../../utils/variables.scss';

.blog-page {
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    max-width: 800px;
    margin: 20px 0;
    font-size: 1.4em;
    text-align: center;
    font-family: 'Bold';
    color: $appColor;
  }

  .content {
    width: 100%;
  }
}