.about-block {
  margin: 0 auto;
  margin-top: 40px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


  .title {
    font-size: 1.1em;
    margin-bottom: 5px;
    color: #444;
    font-family: 'Bold';
  }

  span {
    max-width: 600px;
    text-align: center;
    font-size: 0.9em;

    b {
      font-family: 'Bold';
    }
  }
}