@import '../utils/variables.scss';
@import '../utils/mixins.scss';

.contact-us-page {
  @include flex-column;
  gap: 25px;

  .preview {
    font-size: 1.1em;
    max-width: 500px;
    text-align: center;

    display: block;
  }

  .contact-us-form {
    min-width: 420px;
    border: 1px solid $opacityLineColor;
    border-radius: 4px;
    opacity: hidden;

    display: flex;
    flex-direction: column;

    textarea {
      min-height: 150px;
      resize: none;
    }

    button, textarea, input {
      border: none;
      background: none;
      font-size: 1em;
    }

    input {
      padding: 10px;
      border-bottom: 1px solid $opacityLineColor;
      font-family: 'Bold';
    }

    textarea {
      padding: 0 10px;
      padding-top: 10px;
    }

    button {
      border-top: 1px solid $opacityLineColor;
      padding: 10px 0;
      font-family: 'Bold';
      color: #413f42a3;
      cursor: not-allowed;

      &.active {
        color: $appColor;
        transition: 0.4s;
        cursor: pointer;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}